<div class="container">
  <div class="row  justify-content-center ">
    <div class="card"  style="width: 70%" >
      <h3 style=" background-color: #1BB1DC ; color: white" class="card-header text-center">Create Tour</h3>
      <div style="background-color: #f5f8fd" class="card-body text-center">
        <form [formGroup]="createForm" (ngSubmit)="submit()">
          <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label">Name<p style="color: red ; display: inline">*</p></label>
            <div class="col-sm-9">
              <input formControlName="name" type="text" class="form-control" id="name" aria-describedby="passwordHelpBlock">
<!--              <small *ngIf="message" id="passwordHelpBlock" class="form-text text-danger ">{{message}}</small>-->
            </div>
          </div>
          <div class="form-group row">
            <label for="location" class="col-sm-3 col-form-label">Location<p style="color: red ; display: inline">*</p></label>
            <div class="col-sm-9">
              <input formControlName="location" type="text" class="form-control" id="location" aria-describedby="passwordHelpBlock1">
<!--              <div *ngFor="let valid of validationCreateForm.location">-->
<!--                <small *ngIf="createForm.get('location') && createForm.get('location').dirty" id="passwordHelpBlock1" class="form-text text-danger ">{{valid.message}}</small>-->
<!--              </div>-->
            </div>
          </div>
          <div class="form-group row">
            <label for="startDate" class="col-sm-3 col-form-label">Start Date<p style="color: red ; display: inline">*</p></label>
            <div class="col-sm-9">
              <input formControlName="startDate" type="text" class="form-control" id="startDate" aria-describedby="passwordHelpBlock2">
<!--              <small *ngIf="editPassAccountForm.hasError('notSame')" id="passwordHelpBlock2" class="form-text text-danger ">Xác nhận mật khẩu phải giống mật khẩu mới</small>-->
            </div>
          </div>
          <div class="form-group row">
            <label for="returnDay" class="col-sm-3 col-form-label">Return Day<p style="color: red ; display: inline">*</p></label>
            <div class="col-sm-9">
              <input formControlName="returnDay" type="text" class="form-control" id="returnDay" aria-describedby="passwordHelpBlock2">
              <!--              <small *ngIf="editPassAccountForm.hasError('notSame')" id="passwordHelpBlock2" class="form-text text-danger ">Xác nhận mật khẩu phải giống mật khẩu mới</small>-->
            </div>
          </div>
          <div class="form-group row">
            <label for="registrationEndDate" class="col-sm-3 col-form-label">Registration End Date<p style="color: red ; display: inline">*</p></label>
            <div class="col-sm-9">
              <input formControlName="registrationEndDate" type="text" class="form-control" id="registrationEndDate" aria-describedby="passwordHelpBlock2">
              <!--              <small *ngIf="editPassAccountForm.hasError('notSame')" id="passwordHelpBlock2" class="form-text text-danger ">Xác nhận mật khẩu phải giống mật khẩu mới</small>-->
            </div>
          </div>
          <div class="form-group row">
            <label for="maxOfMember" class="col-sm-3 col-form-label">Max Of Member<p style="color: red ; display: inline">*</p></label>
            <div class="col-sm-9">
              <input formControlName="maxOfMember" type="text" class="form-control" id="maxOfMember" aria-describedby="passwordHelpBlock2">
              <!--              <small *ngIf="editPassAccountForm.hasError('notSame')" id="passwordHelpBlock2" class="form-text text-danger ">Xác nhận mật khẩu phải giống mật khẩu mới</small>-->
            </div>
          </div>
          <div class="form-group row">
            <label for="calendar" class="col-sm-3 col-form-label">Calendar<p style="color: red ; display: inline">*</p></label>
            <div class="col-sm-9">
              <input formControlName="calendar" type="text" class="form-control" id="calendar" aria-describedby="passwordHelpBlock2">
              <!--              <small *ngIf="editPassAccountForm.hasError('notSame')" id="passwordHelpBlock2" class="form-text text-danger ">Xác nhận mật khẩu phải giống mật khẩu mới</small>-->
            </div>
          </div>
          <div class="form-group row">
            <label for="request" class="col-sm-3 col-form-label">Request<p style="color: red ; display: inline">*</p></label>
            <div class="col-sm-9">
              <input formControlName="request" type="text" class="form-control" id="request" aria-describedby="passwordHelpBlock2">
              <!--              <small *ngIf="editPassAccountForm.hasError('notSame')" id="passwordHelpBlock2" class="form-text text-danger ">Xác nhận mật khẩu phải giống mật khẩu mới</small>-->
            </div>
          </div>
          <div class="form-group row">
            <label for="cost" class="col-sm-3 col-form-label">Cost<p style="color: red ; display: inline">*</p></label>
            <div class="col-sm-9">
              <input formControlName="cost" type="text" class="form-control" id="cost" aria-describedby="passwordHelpBlock2">
              <!--              <small *ngIf="editPassAccountForm.hasError('notSame')" id="passwordHelpBlock2" class="form-text text-danger ">Xác nhận mật khẩu phải giống mật khẩu mới</small>-->
            </div>
          </div>
          <div class="form-group row">
            <label for="tourType" class="col-sm-3 col-form-label">Tour Type<p style="color: red ; display: inline">*</p></label>
            <div class="col-sm-9">
              <input formControlName="tourType" type="text" class="form-control" id="tourType" aria-describedby="passwordHelpBlock2">
              <!--              <small *ngIf="editPassAccountForm.hasError('notSame')" id="passwordHelpBlock2" class="form-text text-danger ">Xác nhận mật khẩu phải giống mật khẩu mới</small>-->
            </div>
          </div>
          <div class="form-group row">
            <label for="scope" class="col-sm-3 col-form-label">Scope<p style="color: red ; display: inline">*</p></label>
            <div class="col-sm-9">
              <input formControlName="scope" type="text" class="form-control" id="scope" aria-describedby="passwordHelpBlock2">
              <!--              <small *ngIf="editPassAccountForm.hasError('notSame')" id="passwordHelpBlock2" class="form-text text-danger ">Xác nhận mật khẩu phải giống mật khẩu mới</small>-->
            </div>
          </div>
          <div class="form-group row">
            <label for="member" class="col-sm-3 col-form-label">Member<p style="color: red ; display: inline">*</p></label>
            <div class="col-sm-9">
              <input formControlName="member" type="text" class="form-control" id="member" aria-describedby="passwordHelpBlock2">
              <!--              <small *ngIf="editPassAccountForm.hasError('notSame')" id="passwordHelpBlock2" class="form-text text-danger ">Xác nhận mật khẩu phải giống mật khẩu mới</small>-->
            </div>
          </div>
          <a style="background-color: red ; color: white ; margin-right: 2px" class="btn btn-primary"  role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg> Hủy</a>
          <button style="background-color: #1bb1dc" type="submit" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg> Cập nhật</button>
        </form>
      </div>
    </div>
  </div>
</div>
